/*  Global  */

/*  Google font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  /* App Colors */
	--color-background: #171717;
  --color-background-sub: #424242;
  --color-background-contents: #2d2d2d;
  --color-button: #2563eb;
  --color-button-hover: #1945a4;
  --color-text: white;
	--color-text-sub: #9e9e9e;
	--color-btn-active: #383b3e;

  /*  Font  */
  --font-size: 16px;
}

/*  css initialize  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*transform : rotate(0.04deg); !* antialiasing *!*/
  text-decoration: none;
  list-style: none;
  font-family: var(--font-Sans-en), var(--font-Sans-kr) , sans-serif;
  color: var(--color-text);
}

html {
  background-color: var(--color-background);
  font-size: 16px;
}



/*  Header  */
.header {
  padding: 5px;
  background-color: var(--color-background) opacity(0.5);
  border-bottom: 1px solid var(--color-background-sub);
  font-size: 20px;
  position: sticky;
  top: 0;
}

.header__box {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding: 1px 10px;
  align-items: center;
}

.header__logo {
  display: flex;
  padding: 1px;
  align-items: center;
  font-weight: 700;
  transition: all 0.3s ease;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__logo-svg {
  margin-top: 6px;
  font-size: 25px;
}

.header__logo-title {
  margin-left: 3px;
}

.header__blank {
  flex-grow: 1;
}

.header__link-btn {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.header__link-btn:hover,
.header__link-btn:active {
  background-color: var(--color-btn-active);
}
.contents__box {
  max-width: 1270px;
  margin: 0 auto;
  padding: 1px;
  /*min-height: 180vh;*/
}

/*  Footer  */
.footer {
  background-color: var(--color-background);
  padding: 10px;
  text-align: center;
  border-top: 1px solid var(--color-background-sub);
}

.footer__box {
  max-width: 1400px;
  margin: 0 auto;
}


/*  Home page  */

.main_section__box {
  max-width: 1080px;
  margin: 100px auto;
}

.main_section__intro {
  margin-bottom: 150px;
}

.main_section__intro-title,
.main_section__tools-title{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.main_section__intro-image {
  width: 100%;
  border-radius: 20px;
}

.main_section__tools-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main_section__tools-grid-item {
  border-radius: 20px;
  background-color: var(--color-background-contents);
  margin: 15px 15px 0 0;
  overflow: hidden;
  transition: all 0.1s;
  border: 1px solid var(--color-background-sub);
}

.image__frame {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.main_section__tools-grid-item-image {
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease;
}

.main_section__tools-grid-item:hover .main_section__tools-grid-item-image {
  transform: scale(1.1);
}

.main_section__tools-grid-item:hover {
  border: 1px solid rgba(29, 57, 202, 0.9);
  box-shadow: 0 0 10px rgba(29, 57, 202, 0.9);
}

.main_section__tools-grid-item:hover .main_section__tools-grid-item-textbox div {
  color: rgba(29, 57, 202, 0.9);
}

.main_section__tools-grid-item-textbox {
  padding: 10px 20px 15px 20px;
}

.main_section__tools-grid-item-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main_section__tools-grid-item-description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-text-sub);
}