  @keyframes ldio-3cf0bky8xpl {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .ldio-3cf0bky8xpl div {
    left: 100.395px;
    top: 50.714999999999996px;
    position: absolute;
    animation: ldio-3cf0bky8xpl linear 1.0526315789473684s infinite;
    background: #2563eb;
    width: 6.209999999999999px;
    height: 18.63px;
    border-radius: 0px / 0px;
    transform-origin: 3.1049999999999995px 52.785px;
  }
  .ldio-3cf0bky8xpl div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.0421052631578946s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(2) {
    transform: rotate(3.6deg);
    animation-delay: -1.0315789473684212s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(3) {
    transform: rotate(7.2deg);
    animation-delay: -1.0210526315789474s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(4) {
    transform: rotate(10.8deg);
    animation-delay: -1.0105263157894737s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(5) {
    transform: rotate(14.4deg);
    animation-delay: -1s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(6) {
    transform: rotate(18deg);
    animation-delay: -0.9894736842105263s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(7) {
    transform: rotate(21.6deg);
    animation-delay: -0.9789473684210527s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(8) {
    transform: rotate(25.2deg);
    animation-delay: -0.968421052631579s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(9) {
    transform: rotate(28.8deg);
    animation-delay: -0.9578947368421052s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(10) {
    transform: rotate(32.4deg);
    animation-delay: -0.9473684210526315s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(11) {
    transform: rotate(36deg);
    animation-delay: -0.9368421052631579s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(12) {
    transform: rotate(39.6deg);
    animation-delay: -0.9263157894736842s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(13) {
    transform: rotate(43.2deg);
    animation-delay: -0.9157894736842105s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(14) {
    transform: rotate(46.8deg);
    animation-delay: -0.9052631578947369s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(15) {
    transform: rotate(50.4deg);
    animation-delay: -0.8947368421052632s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(16) {
    transform: rotate(54deg);
    animation-delay: -0.8842105263157894s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(17) {
    transform: rotate(57.6deg);
    animation-delay: -0.8736842105263158s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(18) {
    transform: rotate(61.2deg);
    animation-delay: -0.8631578947368421s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(19) {
    transform: rotate(64.8deg);
    animation-delay: -0.8526315789473684s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(20) {
    transform: rotate(68.4deg);
    animation-delay: -0.8421052631578947s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(21) {
    transform: rotate(72deg);
    animation-delay: -0.8315789473684211s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(22) {
    transform: rotate(75.6deg);
    animation-delay: -0.8210526315789474s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(23) {
    transform: rotate(79.2deg);
    animation-delay: -0.8105263157894737s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(24) {
    transform: rotate(82.8deg);
    animation-delay: -0.8s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(25) {
    transform: rotate(86.4deg);
    animation-delay: -0.7894736842105263s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(26) {
    transform: rotate(90deg);
    animation-delay: -0.7789473684210526s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(27) {
    transform: rotate(93.6deg);
    animation-delay: -0.7684210526315789s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(28) {
    transform: rotate(97.2deg);
    animation-delay: -0.7578947368421053s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(29) {
    transform: rotate(100.8deg);
    animation-delay: -0.7473684210526316s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(30) {
    transform: rotate(104.4deg);
    animation-delay: -0.7368421052631579s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(31) {
    transform: rotate(108deg);
    animation-delay: -0.7263157894736842s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(32) {
    transform: rotate(111.6deg);
    animation-delay: -0.7157894736842105s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(33) {
    transform: rotate(115.2deg);
    animation-delay: -0.7052631578947368s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(34) {
    transform: rotate(118.8deg);
    animation-delay: -0.6947368421052632s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(35) {
    transform: rotate(122.4deg);
    animation-delay: -0.6842105263157895s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(36) {
    transform: rotate(126deg);
    animation-delay: -0.6736842105263158s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(37) {
    transform: rotate(129.6deg);
    animation-delay: -0.6631578947368421s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(38) {
    transform: rotate(133.2deg);
    animation-delay: -0.6526315789473685s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(39) {
    transform: rotate(136.8deg);
    animation-delay: -0.6421052631578947s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(40) {
    transform: rotate(140.4deg);
    animation-delay: -0.631578947368421s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(41) {
    transform: rotate(144deg);
    animation-delay: -0.6210526315789474s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(42) {
    transform: rotate(147.6deg);
    animation-delay: -0.6105263157894737s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(43) {
    transform: rotate(151.2deg);
    animation-delay: -0.6s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(44) {
    transform: rotate(154.8deg);
    animation-delay: -0.5894736842105263s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(45) {
    transform: rotate(158.4deg);
    animation-delay: -0.5789473684210527s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(46) {
    transform: rotate(162deg);
    animation-delay: -0.5684210526315789s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(47) {
    transform: rotate(165.6deg);
    animation-delay: -0.5578947368421052s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(48) {
    transform: rotate(169.2deg);
    animation-delay: -0.5473684210526316s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(49) {
    transform: rotate(172.8deg);
    animation-delay: -0.5368421052631579s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(50) {
    transform: rotate(176.4deg);
    animation-delay: -0.5263157894736842s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(51) {
    transform: rotate(180deg);
    animation-delay: -0.5157894736842106s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(52) {
    transform: rotate(183.6deg);
    animation-delay: -0.5052631578947369s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(53) {
    transform: rotate(187.2deg);
    animation-delay: -0.49473684210526314s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(54) {
    transform: rotate(190.8deg);
    animation-delay: -0.4842105263157895s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(55) {
    transform: rotate(194.4deg);
    animation-delay: -0.47368421052631576s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(56) {
    transform: rotate(198deg);
    animation-delay: -0.4631578947368421s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(57) {
    transform: rotate(201.6deg);
    animation-delay: -0.45263157894736844s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(58) {
    transform: rotate(205.2deg);
    animation-delay: -0.4421052631578947s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(59) {
    transform: rotate(208.8deg);
    animation-delay: -0.43157894736842106s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(60) {
    transform: rotate(212.4deg);
    animation-delay: -0.42105263157894735s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(61) {
    transform: rotate(216deg);
    animation-delay: -0.4105263157894737s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(62) {
    transform: rotate(219.6deg);
    animation-delay: -0.4s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(63) {
    transform: rotate(223.2deg);
    animation-delay: -0.3894736842105263s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(64) {
    transform: rotate(226.8deg);
    animation-delay: -0.37894736842105264s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(65) {
    transform: rotate(230.4deg);
    animation-delay: -0.3684210526315789s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(66) {
    transform: rotate(234deg);
    animation-delay: -0.35789473684210527s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(67) {
    transform: rotate(237.6deg);
    animation-delay: -0.3473684210526316s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(68) {
    transform: rotate(241.2deg);
    animation-delay: -0.3368421052631579s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(69) {
    transform: rotate(244.8deg);
    animation-delay: -0.3263157894736842s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(70) {
    transform: rotate(248.4deg);
    animation-delay: -0.3157894736842105s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(71) {
    transform: rotate(252deg);
    animation-delay: -0.30526315789473685s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(72) {
    transform: rotate(255.6deg);
    animation-delay: -0.29473684210526313s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(73) {
    transform: rotate(259.2deg);
    animation-delay: -0.28421052631578947s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(74) {
    transform: rotate(262.8deg);
    animation-delay: -0.2736842105263158s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(75) {
    transform: rotate(266.4deg);
    animation-delay: -0.2631578947368421s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(76) {
    transform: rotate(270deg);
    animation-delay: -0.25263157894736843s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(77) {
    transform: rotate(273.6deg);
    animation-delay: -0.24210526315789474s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(78) {
    transform: rotate(277.2deg);
    animation-delay: -0.23157894736842105s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(79) {
    transform: rotate(280.8deg);
    animation-delay: -0.22105263157894736s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(80) {
    transform: rotate(284.4deg);
    animation-delay: -0.21052631578947367s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(81) {
    transform: rotate(288deg);
    animation-delay: -0.2s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(82) {
    transform: rotate(291.6deg);
    animation-delay: -0.18947368421052632s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(83) {
    transform: rotate(295.2deg);
    animation-delay: -0.17894736842105263s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(84) {
    transform: rotate(298.8deg);
    animation-delay: -0.16842105263157894s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(85) {
    transform: rotate(302.4deg);
    animation-delay: -0.15789473684210525s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(86) {
    transform: rotate(306deg);
    animation-delay: -0.14736842105263157s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(87) {
    transform: rotate(309.6deg);
    animation-delay: -0.1368421052631579s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(88) {
    transform: rotate(313.2deg);
    animation-delay: -0.12631578947368421s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(89) {
    transform: rotate(316.8deg);
    animation-delay: -0.11578947368421053s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(90) {
    transform: rotate(320.4deg);
    animation-delay: -0.10526315789473684s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(91) {
    transform: rotate(324deg);
    animation-delay: -0.09473684210526316s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(92) {
    transform: rotate(327.6deg);
    animation-delay: -0.08421052631578947s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(93) {
    transform: rotate(331.2deg);
    animation-delay: -0.07368421052631578s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(94) {
    transform: rotate(334.8deg);
    animation-delay: -0.06315789473684211s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(95) {
    transform: rotate(338.4deg);
    animation-delay: -0.05263157894736842s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(96) {
    transform: rotate(342deg);
    animation-delay: -0.042105263157894736s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(97) {
    transform: rotate(345.6deg);
    animation-delay: -0.031578947368421054s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(98) {
    transform: rotate(349.2deg);
    animation-delay: -0.021052631578947368s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(99) {
    transform: rotate(352.8deg);
    animation-delay: -0.010526315789473684s;
    background: #2563eb;
  }
  .ldio-3cf0bky8xpl div:nth-child(100) {
    transform: rotate(356.4deg);
    animation-delay: 0s;
    background: #2563eb;
  }
  .loadingio-spinner-spinner-oegbtkfo57m {
    width: 207px;
    height: 207px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-3cf0bky8xpl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-3cf0bky8xpl div {
    box-sizing: content-box;
  }


